name: Version Tracker
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '*/30 * * * *' # Runs every half hour
  workflow_dispatch:
jobs:
  version-tracker:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.check-version.outputs.VERSION }}
      DOWNLOAD_URL: ${{ steps.check-version.outputs.DOWNLOAD_URL }}
      NEW_VERSION: ${{ steps.create-tag.outputs.NEW_VERSION }}
    steps:
    - uses: actions/checkout@v4
        
    - name: Check for updates
      id: check-version
      run: |
        url="https://www.sonos.com/redir/controller_software_pc2"

        filename=$(curl -sI -L "$url" | \
          grep -i 'content-disposition' | \
          sed -E 's/.*filename="?([^\";]+)"?.*/\1/')

        if [ -z "$filename" ]; then
          final_url=$(curl -s -L -o /dev/null -w '%{url_effective}' "$url")
          filename=$(basename "$final_url") 
        fi

        echo VERSION=$(echo "$filename" | grep -oE '[0-9]+\.[0-9]+-[0-9]+') >> $GITHUB_ENV
        echo DOWNLOAD_URL=$final_url >> $GITHUB_ENV

        echo "VERSION=$(echo "$filename" | grep -oE '[0-9]+\.[0-9]+-[0-9]+')" >> $GITHUB_OUTPUT
        echo "DOWNLOAD_URL=$final_url" >> $GITHUB_OUTPUT

    - name: Create tag and send notification
      id: create-tag
      env:
        EMAIL: ${{ secrets.EMAIL }}
        GOTIFY_SERVER: ${{ secrets.GOTIFY_SERVER }}
        GOTIFY_TOKEN: ${{ secrets.GOTIFY_TOKEN }}
      run: |
        LOCAL_VER=$(git -c 'versionsort.suffix=-' \
            ls-remote --exit-code --refs --sort='version:refname' --tags https://github.com/coretechonomy/sonos-app.git \
            | tail --lines=1 \
            | cut --delimiter='/' --fields=3)

        if [[ ${LOCAL_VER} != "${VERSION}" ]]; then
            echo "Local version: ${LOCAL_VER}"
            echo "Latest upstream version: ${VERSION}"
            echo "Updating to latest version..."
            git config --global user.name "Erik Thomsen"
            git config --global user.email ${EMAIL}
            TAG_NAME="${VERSION}"
            git tag -a $TAG_NAME -m "Release $TAG_NAME"
            git push origin $TAG_NAME

            echo "NEW_VERSION=true" >> $GITHUB_OUTPUT

            curl -X POST \
              -H "Content-Type: application/json" \
              -d '{ "message": "Sonos App\nNew Version: v'${VERSION}'", "title": "Version Tracker" }' \
              "https://${GOTIFY_SERVER}/message?token=${GOTIFY_TOKEN}"
        else
            echo "No updates available..."
        fi

  build:
    needs: version-tracker
    if: ${{ needs.version-tracker.outputs.NEW_VERSION == 'true' }}
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Populate nuspec variables with envsubst
      run: |
        envsubst ${{ env.TAG_NAME }} < chocolatey/sonos-app.nuspec > chocolatey/sonos-app.nuspec.out
        envsubst ${{ env.DOWNLOAD_URL }} < chocolatey/tools/chocolateyinstall.ps1 > chocolatey/tools/chocolateyinstall.ps1.out
        mv chocolatey/sonos-app.nuspec.out chocolatey/sonos-app.nuspec
        mv chocolatey/tools/chocolateyinstall.ps1.out chocolatey/tools/chocolateyinstall.ps1
      env:
        TAG_NAME: ${{ needs.version-tracker.outputs.VERSION }}
        DOWNLOAD_URL: ${{ needs.version-tracker.outputs.DOWNLOAD_URL }}

    - name: Pack Chocolatey Package
      run: |
        cd chocolatey
        docker run --rm -v $PWD:/root --entrypoint bash docker.io/chocolatey/choco -c 'choco pack'

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        tag_name: "${{ env.VERSION }}"
        files: |
          chocolatey/*.nupkg
        body: |
          Version: ${{ env.VERSION }}
      env:
        VERSION: ${{ needs.version-tracker.outputs.VERSION }}